* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
  }
  
  .navbar{
    height: 60px;
    padding-left: 30px;
  }
  
  .logo{
    line-height: 60px;
    float: left;
  }
  
  .logo img{
    vertical-align: middle;
  }
  
  .navbar ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
  }
  
  .hero_header{
    display:block; 
    margin:auto;
    height: 50%;
    width: 50%;
  }

  body h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 24px;
    font-style: bold;
    color: #545454;
  }
  
  .products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 740px;
    text-align: center;
  }
  
  .products img{
    width: 225px;
    height: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
  }
  
  .price{
    margin-top: 4px;
    margin-bottom: 80px;
  }
  
  .clearfix{
    clear: both;
  }
  
  .footer{
    text-align: center;
  }
  
  .footer img{
    margin-top: 40px;
    height: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .kata{
      padding-top: 100px;
      margin: 0 auto;
      text-align: center;
  }

  .white_content {
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.white_content:target {
    opacity:1;
    pointer-events: auto;
}
.white_content > div {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 6px solid black;
	background-color: white;
	overflow: auto;	
}